<div class="container-fluid">
  <h1>Quote Submission Form</h1>
  <br>
  {{quoteModel | json}}
  {{userForm.value | json}}
  <br>
  <form #userForm="ngForm">
    <div class="form-group">
      <label>Name</label>
      <input type="text" class ="form-control" name="authorName" [(ngModel)]="quoteModel.author">
    </div>
    <div class="form-group">
      <label>Quote</label>
      <textarea class="form-control" name="quote" rows="8" cols="80" [(ngModel)]="quoteModel.quote"></textarea>
    </div>
    <div class="form-group">
      <label>Submitted By</label>
      <input type="text" class ="form-control" name="submitter" [(ngModel)]="quoteModel.submitter">
    </div>
    <div class="form-group">
      <label>Date</label>
      <input type="date" class="form-control" name="date" [(ngModel)]="quoteModel.date">
    </div>
    <button class="btn btn-primary" name="button">Submit</button>
  </form>
  <br>

  <div class="card current">
    <div class="row">
      <div class="col-md-12">

      <br>

      <div class="vote">
        <button (click) = "upvoteButtonClick()" class="btn btn-success" type="submit">Upvote</button>
        {{numberOfVotes}}
        <button (click) = "downvoteButtonClick()" class="btn btn-danger" type="submit">Downvote</button>
        <br>
        </div>
      </div>
    </div>
  </div>

  <div class="card previous">
  <div class="row">
    <div class="col-md-12">
    <h2>Previous Quotes</h2>
    <p>{{previousQuote}}</p>
    <p>{{"Author: " + previousAuthor}}</p>
    <p>{{"Submitted By: " + previousSubmitter + " on " + previousDate}}</p>
    <br>

    <div class="vote">
      <button (click) = "upvoteButtonClick()" class="btn btn-success" type="submit">Upvote</button>
      {{numberOfVotes}}
      <button (click) = "downvoteButtonClick()" class="btn btn-danger" type="submit">Downvote</button>
      <br>
      </div>
    </div>
  </div>
  </div>
</div>
<router-outlet></router-outlet>
