<h2>Previous Quotes</h2>

<div class="row">
  <div class="col-md-12">
    <div class = "previous">
    <div class="card" id = "eachQuote" *ngFor = 'let quote of quotes; let i = index'>
    <p>{{quote.quote}}</p>
    <p>{{"Author: " + quote.author}}</p>
    <p>{{"Submitted By: " + quote.submitter}}</p>
    <p>{{"Date " + quote.date | dateCount}}</p>
    <button (click) = 'toggleNew(i)' type="button" class="btn btn-success">Vote</button>
    <app-vote *ngIf='quote.showNew' [quote]='quote' (isdelete) = 'deleteQuote($event, i)'> </app-vote>
  </div>
</div>
  <br>


  </div>
</div>
